<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RESTful blog with Bulma on Heroku</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/trumbowyg.min.css">
</head>
<body>
    <nav class="nav has-shadow">
      <div class="container">
        <div class="nav-left">
            <a href="/">
                <span class="icon is-medium">
                <i class="fa fa-google-wallet"></i>
                </span>
                <span id="logo-text">RESTful Blogui</span>
            </a>
        </div>
        <div class="nav-center nav-menu">
            <a href="/" class="nav-item is-tab">Home</a>
            <a href="/blogs/new" class="nav-item is-tab">New Post</a>
            <a href="/" class="nav-item is-tad">Login</a>
        </div>
      </div>
    </nav>
</body>
</html>